* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

p, h3, body {
    margin: 0;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F55A5A;
    margin-bottom: 4rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 11.46px;
    line-height: 17.5px;
    letter-spacing: -7.5%;
}

.header-icon {
    margin-right: 1rem;
    width: 30px;
}

.travel-location {
    display: flex;
    width: 470px;
    margin: 2rem auto 3rem auto;
    border-bottom: 1px solid #F5F5F5; 
}

.travel-image {
    width: 10rem;
    margin-right: 1rem;
    width: 125px;
    height: 168px;
    object-fit: cover;
    border-radius: 5px;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.country-container {
    display: flex;
    align-items: center;
}

h3 {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12.39px;
    letter-spacing: 3px;
    color: #2B283A;
    margin-right: 1rem;
}

a {
    color: #918E9B;
    font-size: 10.24px;
    line-height: 12.39px;
    font-weight: 400;
}

.fa-location-dot {
    color: #E9545B;
    width: 7px;
    margin-right: .75rem;
}

.location-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 30.26px;
}

.dates {
    color: #2B283A;
    font-size: 10.24px;
    line-height: 12.39px;
    font-weight: 700;
}

.location-description {
    color: #2B283A;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15.36px;
}
